:root {
    --main_color: #5964E0;
    --main_color_light: #939BF4;
    --bg: #F4F6F8;
    --text_color: #19202D;
    --card_color: #FFFFFF;
    --bg_checkbox: rgba(25, 32, 45, .1);
    --btn_site_company: rgba(89, 100, 224, .1);
    --btn_site_company_active: rgba(89, 100, 224, .35);
    --btn_site_company_text_color: #5964E0;
    --filter_mob_bg: #6E8098;
};