.header {
    position: relative;
    height: 160px;
    padding-top: 44px;
    background: url(../img/header.png) left bottom/ cover no-repeat;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        max-width: 115px;

        img {
            width: 100%;
        }
    }

    .theme {
        width: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        label {
            pointer-events: none;
        }
        input {
            appearance: none;
            border: none;
            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: '';
                display: block;
                width: 48px;
                height: 24px;
                background: white;
                border-radius: 12px;
                cursor: pointer;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 37px;
                transform: translateY(-50%);
                z-index: 2;
                width: 14px;
                height: 14px;
                background: #5964E0;
                border-radius: 12px;
                cursor: pointer;
                transition: background .3s;
            }
            &:hover {
                &:after {
                    background: var(--main_color_light);
                }
            }
            &:checked {
                &:after {
                    left: 62px;
                }
            }
        }
        .active {
            &:after {
               transition: all .3s; 
            }
        }
    }

}