@media (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 689px;
    }

    .search {
        &__desc {
            grid-template-columns: minmax(auto, 463px) minmax(auto, 213px) minmax(auto, 252px);
        }

        &__input {
            padding: 0 16px 0 24px;

            &:last-child {
                padding-left: 20px;
                padding-right: 16px;
            }
        }

        .dnone {
            display: block;
        }

        .dblock {
            display: none;
        }
    }

    .cards {
        padding-top: 110px;
        padding-bottom: 60px;

        &__wrapper {
            grid-template-columns: repeat(2, minmax(auto, 350px));
        }
    }

    .btn {
        &:hover {
            background: var(--main_color);
        }
        &-search {
            width: 80px;
            height: 48px;
        }

        &_bottom {
            width: 141px;
        }
        &_dimly {
            &:hover {
                color: var(--btn_site_company_text_color);
                background: var(--btn_site_company);
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .header {
        height: 136px;
        padding-top: 36px;
        background-position: bottom center;
    }

    .search {
        &__desc {
            display: none;
        }

        &__mob {
            display: block;
        }
    }

    .cards {
        &__wrapper {
            grid-template-columns: 1fr;

        }
    }

    .card {
        &:nth-child(even) {
            justify-content: center;
        }
    }

    .company {
        &__content {
            padding: 40px 35px 48px 35px;
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: calc(100% - 48px);
    }

    .company {
        &__header {
            border-radius: 6px;
            top: -15px;
            &-logo {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 5px;
                border-radius: 15px;
                width: 50px;
                height: 50px;
            }

            &-content {
                
                padding: 48px 90px 32px 90px;
                flex-direction: column;
            }
        }

        &__content {
            padding: 40px 24px;
            margin-top: calc(24px - 15px);
            &-position {
                font-size: 20px;
                line-height: 20px;
            }

            &-header {
                flex-direction: column;
                align-items: flex-start;
            }

            &-location {
                margin-top: 12px;
            }
        }

        &__text {
            margin-top: 32px;

            ol {
                li {
                    &:before {
                        top: 1px;
                        transform: translateY(0);
                    }
                }
            }
            ul {
                li {
                    &:before {
                        top: 10px;
                        transform: translateY(0);
                    }
                }
            }

        }
        &__site {
            margin-top: 13px;
        }
        &__footer {
            margin-top: 64px;
            padding: 24px;
            &-wrapper {
                div {
                    display: none;
                }
            }
        }
    }

    .btn {
        &_dimly {
            margin-top: 24px;
        }

        &__company {
            margin-top: 50px;
            width: 100%;
            &_m0 {
                margin: 0;
            }
        }
    }
}