@media (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 689px;
    }

    .search {
        &__desc {
            grid-template-columns: minmax(auto, 463px) minmax(auto, 213px) minmax(auto, 252px);
        }

        &__input {
            padding: 0 16px 0 24px;

            &:last-child {
                padding-left: 20px;
                padding-right: 16px;
            }
        }

        .dnone {
            display: block;
        }

        .dblock {
            display: none;
        }
    }

    .cards {
        padding-top: 110px;
        padding-bottom: 60px;
        &__wrapper {
            grid-template-columns: repeat(2, minmax(auto, 350px));
        }
    }

    .btn {
        &-search {
            width: 80px;
            height: 48px;
        }

        &_bottom {
            width: 141px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .header {
        height: 136px;
        padding-top: 36px;
        background-position: bottom center;
    }

    .search {
        &__desc {
            display: none;
        }
        &__mob {
            display: block;
        }
    }

    .cards {
        &__wrapper {
            grid-template-columns: 1fr;

        }
    }

    .card {
        &:nth-child(even) {
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: calc(100% - 48px);
    }
}